{% extends "@FOSUser/layout.html.twig" %}

{% block title %} Change Password {% endblock %}

{% block content %}
    <h1>Change Password</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        {{ form_widget(form) }}

        <div>
            <button class="form-control btn btn-primary"
                    type="submit"
                    id="_submit"
                    name="_submit">
                Change Password
            </button>
        </div>

    {{ form_end(form) }}

{% endblock content %}