{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <h1>Reset Password</h1>

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

        {{ form_widget(form) }}

        <button class="form-control btn btn-primary" type="submit">
            {{ 'resetting.reset.submit'|trans }}
        </button>

    {{ form_end(form) }}

{% endblock content %}