{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <h1>Registered!</h1>

    <p>Congratulations, {{ user.name }}, your account is now created.</p>

    <a href="/">Go to your account.</a>
{% endblock content %}
