{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create task</h1>

    <form method="POST" action="/tasks">
        <div>
            <label>Task</label>
            <input type="text" name="name"/>
        </div>

        <div>
            <label>Frequency</label>
            Every
            <input type="text" name="frequency"/>
            <select name="frequencyUnit">

                {% for option in unitOptions %}

                    <option value="{{ option.id }}">
                        {{ option.name }}
                    </option>

                {% endfor %}

            </select>
        </div>

        <div>
            <label>Starting on</label>
            <input type="text" name="startDate" placeholder="yyyy/mm/dd"/>
        </div>

        <div>
            <label>Should adjust the frequency depending on the completion date</label>
            <input type="radio" name="adjustOnCompletion" value="1"/> Yes
            <input type="radio" name="adjustOnCompletion" value="0"/> No
        </div>

        <div>
            <button>Create task</button>
        </div>
    </form>
{% endblock %}