{% extends 'base.html.twig' %}

{% block title %} Task Logs {% endblock %}

{% block body %}
    <h1>Logs for '{{ task.getName() }}'</h1>

    {% if logs %}

        <table class="table table table-striped table-hover">
            <thead>
            <tr>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>

            {% for log in logs %}

                <tr>
                    <td>{{ log.createDate.format('D, d M, H:i') }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}