{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

    <h1>Todos</h1>

    <ul>
        {% for todo in todos %}
            <li>{{ todo.name }} (<a href="/tasks/{{ todo.id }}/complete">complete</a>)</li>
        {% endfor %}
    </ul>

{% endblock %}